<md-progress-circular md-mode="indeterminate" ng-hide="gameList"></md-progress-circular>

<md-virtual-repeat-container id="gameList" ng-style="getListHeight()">
  <div md-virtual-repeat="game in gameList" md-on-demand layout="row">
    <div layout="row" layout-align="center center" class="md-body-1 gamecell" flex="20">{{ game.gameDate.format('YYYY-MM-DD') }}</div>
    <div layout="row" layout-align="center center" class="md-body-1 gamecell" flex="30"><span ng-repeat="player in game.team1.players | orderBy:name">{{player.name}}{{$last ? '' : '&nbsp;+&nbsp;'}}</span></div>
    <div layout="row" layout-align="center center" class="md-body-1 gamecell" flex="10"><strong>vs.</strong></div>
    <div layout="row" layout-align="center center" class="md-body-1 gamecell" flex="30"><span ng-repeat="player in game.team2.players | orderBy:name">{{player.name}}{{$last ? '' : '&nbsp;+&nbsp;'}}</span></div>
    <div layout="row" layout-align="center center" class="md-body-1 gamecell" flex="10"><strong>{{game.team1.score}}:{{game.team2.score}}</strong></div>
  </div>
</md-virtual-repeat-container>
