<html lang="en" ng-app="GameScoresApp">
  <head>
    <base href="/">
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>
    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!-- build:css /styles/app.css -->
    <link rel="stylesheet" href="styles/app.css" />
    <!-- endbuild -->
    <meta name="viewport" content="initial-scale=1" />
  </head>
  <body ng-cloak layout="column" flex>
    <md-toolbar ng-controller="MenuCtrl">
      <div class="md-toolbar-tools">
        <h2>
          <span>Game Scores</span>
        </h2>
        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)">Leagues</md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="league in leagueList.leagues">
              <md-button ui-sref="games({leagueId: league.id})">{{league.name}}</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-button ui-sref="players">Players</md-button>
        <md-menu ng-if="user.role == 'admin'">
          <md-button ng-click="$mdOpenMenu($event)">Administration</md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ui-sref="adminimport">Import</md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <span flex></span>
        <md-button ng-hide="userLoading || user.loggedIn" ng-href="{{user._links.login.href}}" target="_self">Login</md-button>
        <md-button ng-show="user.loggedIn" ng-href="{{user._links.logout.href}}" target="_self">Logout</md-button>
        <md-button aria-label="Avatar" ng-if="user.loggedIn" class="md-icon-button"><img gravatar-src="user.email" gravatar-size="30"></md-button>

        <md-button class="md-icon-button" aria-label="Help" ui-sref="about" ng-click="showAbout()">
          <md-icon md-svg-icon="action:help"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content flex layout-padding ui-view="main"></md-content>

    <div ui-view="footer"></div>

    <!-- build:js /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js /scripts/app.js -->
    <script src="app.js"></script>
    <script src="config/routes.js"></script>
    <script src="config/material.js"></script>
    <script src="services/user.service.js"></script>
    <script src="services/league.service.js"></script>
    <script src="services/player.service.js"></script>
    <script src="services/game.service.js"></script>
    <script src="services/import.service.js"></script>
    <script src="directives/infinite-scroll.directive.js"></script>
    <script src="components/menu/menu.ctrl.js"></script>
    <script src="components/games/gamelist.ctrl.js"></script>
    <script src="components/games/addgamebutton.ctrl.js"></script>
    <script src="components/games/gamedialog.ctrl.js"></script>
    <script src="components/players/playerlist.ctrl.js"></script>
    <script src="components/players/playerdialog.ctrl.js"></script>
    <script src="components/players/addplayerbutton.ctrl.js"></script>
    <script src="components/about/aboutdialog.ctrl.js"></script>
    <script src="components/admin/import.ctrl.js"></script>
    <!-- endbuild -->
  </body>
</html>
