<md-dialog aria-label="About Dialog" ng-cloak flex="50" flex-sm="100">
    <md-dialog-content>
        <div class="md-dialog-content">
            <p>
                Game Scores
            </p>

            <p>
                Open Source Project:<br>
                <a href="http://github.com/gamescores/gamescores.info" target="_blank">http://github.com/gamescores/gamescores.info</a><br><br>
                Issues: <a href="http://github.com/gamescores/gamescores.info/issues" target="_blank">http://github.com/gamescores/gamescores.info/issues</a>
            </p>

            <p>
                &copy; 2015 Frank Bille
            </p>
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="cancel()">Close</md-button>
    </div>
</md-dialog>