<md-dialog aria-label="About Dialog" ng-cloak flex="50" flex-sm="100">
    <md-dialog-content>
        <div class="md-dialog-content">
            <p>
                Game Scores
            </p>

            <p>
                Open Source Project:<br>
                <a href="http://github.com/gamescores/gamescores.info" target="_blank">http://github.com/gamescores/gamescores.info</a><br><br>
                Issues: <a href="http://github.com/gamescores/gamescores.info/issues" target="_blank">http://github.com/gamescores/gamescores.info/issues</a>
            </p>

            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="F8R5QFCVF6ZPE">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

            <p>
                &copy; 2015 Frank Bille
            </p>
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="cancel()">Close</md-button>
    </div>
</md-dialog>